@model MvcCreditApp1.Models.Bid

@{
    ViewBag.Title = "Удалить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Bid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditHead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bidDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться в список", "Index")
        </div>
    }
</div>
